* {
  box-sizing: border-box;
  margin: 0;
}

/** ESTRUCTURA **/

//Capçalera
.header { height: 80px; }

//Contingut pàgina
.content {
  max-width: 90%;
  padding: 0;
  margin: auto;
}

//Blocs de contingut
.block {
  align-items: center;
  margin-block: 40px;
}

//Llistes
.list {
  display: flex;
  justify-content: center;
  padding: 0;
}

.list-item {
  padding-top: 30px;
  list-style: none;
}

//Title
.title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo { max-width: 50%; }

//Galeria d'imatges
.gallery {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 5px;

  @media (min-width: $mqTablet) {
    grid-template-columns: 1fr 1fr;
  }
  @media (min-width: $mqLaptop) {
    grid-template-columns: 1fr 1fr 1fr;
  }
  @media (min-width: $mqDesktop) {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  }
}

.image {
  height: 400px;
  background-size: cover;
}

//Presentació
.block.rounded { padding: 30px; }

.profile-img {
  max-width: 100%;
  padding: 20px;

  @media (min-width: $mqTablet) {
    max-width: 550px;
  }
  @media (min-width: $mqLaptop) {
    max-width: 40%;
  }
}

.presentation {
  padding: 25px;
  margin-block: auto;

  @media (min-width: $mqDesktop) {
    padding-inline: 80px;
  }
}

//Botó tornar a l'inici de la pàgina
.button {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 99;
  display: none;
  height: 32px;
  padding-inline: 10px;
}

//Footer
.footer {
  height: 70px;
  margin-top: 10px;
}

/** SKINS **/

//Estils bàsics
.general-style {
  font-family: $font-family-sans-serif;
  text-align: center;
  background-color: $bg;
}

//Fons foscos
.dark-bg {
  color: $light-color;
  background-color: $contrast-color;

  &.black-bg {
    background-color: $dark-bg;
  }
}

//Textos
.text {
  padding-block: 10px;
  font-size: 16px;
  line-height: 24px;

  &.presentation {
    @media (min-width: $mqTablet) {
      text-align: left;
    }
  }
}

//Estils del links
.link {
  margin-inline: 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.link:link,
.link:visited {
  &.contrast-color {
    color: $contrast-color;
  }

  &.dark-bg {
    color: $light-color;
  }
}

//Menu
.header .link:hover { color: $contrast-color-lighter; }

//Títol
.h1 {
  font-family: $font-family-handwriting;
  font-size: 60px;
  font-weight: 500;
  text-align: left;

  @media (min-width: $mqTablet) {
    font-size: 90px;
  }
  @media (min-width: $mqLaptop) {
    font-size: 120px;
  }
}

//Fotos galeria
.image:hover { transform: scale(1.5); }

#foto1 { background-image: url('../images/arboles.jpg'); }

#foto2 { background-image: url('../images/aves.jpg'); }

#foto3 { background-image: url('../images/bar.jpg'); }

#foto4 { background-image: url('../images/benvinguts.jpg'); }

#foto5 { background-image: url('../images/calle.jpg'); }

#foto6 { background-image: url('../images/colliure.jpg'); }

#foto7 { background-image: url('../images/curva.jpg'); }

#foto8 { background-image: url('../images/escalera.jpg'); }

#foto9 { background-image: url('../images/estrellas.jpg'); }

#foto10 {
  background-image: url('../images/mirador.jpg');

  @media (min-width: $mqLaptop) and (max-width: $mqDesktop) {
    display: none;
  }
}

//Cantonades arrodonides
.rounded {
  font-family: $font-family-serif;
  border-radius: 100px;

  @media (min-width: $mqLaptop) {
    display: flex;
  }
}

//Icones
.icon { font-size: 30px; }

//Botó
.button-style {
  font-size: 14px;
  color: $contrast-color;
  cursor: pointer;
  background-color: $contrast-color-lighter;
  border: 1px solid $contrast-color;
  border-radius: 32px;
  transition: all .2s ease-in-out;
}

//Ampliar elements escalables al fer hover
.scalable:hover { transform: scale(1.2); }

//Text del footer
.footer .text { font-size: 12px; }
