* {
  box-sizing: border-box;
  margin: 0;
}

body {
  text-align: center;
  background-color: $bg;
}

ul {
  padding-top: 30px;
  padding-left: 0;
  list-style: none;
}

a {
  margin: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

nav a:link, 
nav a:visited {
  color: white;
}

header {
  height: 80px;
  background-color: $contrast-color;
}

header nav {
  justify-items: center;
  height: 100%;
}

li{
  display: inline;
}

h1 {
  position: absolute;
  top: 50%;
  left: 50%;
  font-family: $font-family-serif;
  font-size: 80px;
  font-weight: 500;
  color: $contrast-color;
  text-transform: uppercase;
  transform: translate(-50%, -50%);

  @media (max-width: $mqMinWidth) {
    font-size: 36px;
  }
}

main {
  max-width: 90%;
  margin: auto;
}

main > div {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}

#galeria {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
  margin: auto;
}

#galeria div {
  height: 400px;
  background-size: cover;
}

#foto1 {
  background-image: url("../images/arboles.jpg");
}
#foto2 {
  background-image: url("../images/aves.jpg");
}
#foto3 {
  background-image: url("../images/bar.jpg");
}
#foto4 {
  background-image: url("../images/benvinguts.jpg");
}
#foto5 {
  background-image: url("../images/calle.jpg");
}
#foto6 {
  background-image: url("../images/colliure.jpg");
}
#foto7 {
  background-image: url("../images/curva.jpg");
}
#foto8 {
  background-image: url("../images/escalera.jpg");
}
#foto9 {
  background-image: url("../images/estrellas.jpg");
}
#foto10 {
  background-image: url("../images/mirador.jpg");
}

#sobre-mi {
  display: flex;
  background-color: $contrast-color;
  border-radius: 400px;
}

#sobre-mi img {
  height: 400px;
  border-radius: 100%;
}

#sobre-mi div {
  padding-right: 60px;
  padding-left: 40px;
  margin-top: auto;
  margin-bottom: auto;
  font-size: 16px;
  line-height: 20px;
  text-align: left;
}

#sobre-mi p {
  margin-top: 10px;
  margin-bottom: 10px;
}

#contacto span {
  font-size: 24px;
}

#contacto a:link, 
#contacto a:visited {
  color: $contrast-color;
}

#contacto a:hover span{
  transform: scale(1.2);
}

button {
  position: fixed; /* Fixed/sticky position */
  right: 30px; /* Place the button 30px from the right */
  bottom: 20px; /* Place the button at the bottom of the page */
  z-index: 99; /* Make sure it does not overlap */
  display: none; /* Hidden by default */
  height:32px;
  padding: 0 10px;
  font-size:14px;
  color: $contrast-color;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $contrast-color;
  border-radius: 32px;
  transition: all 0.2s ease-in-out;
}
button:hover {
  transform: scale(1.2);
}

footer {
  height: 80px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 80px;
  color: white;
  background-color: $dark-bg;
}