* {
  box-sizing: border-box;
  margin: 0;
}

/** ESTRUCTURA **/

//Capçalera
.header {
  height: 80px;
}

//Contingut pàgina
.content {
  max-width: 90%;
  margin: auto;
}

//Blocs de contingut
.block {
  align-items: center;
  min-height: 300px;
  margin-block: 40px;
}

//Títol
.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

//Galeria d'imatges
.gallery {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 5px;
}

.image {
  height: 400px;
  background-size: cover;
}

//Llistes
.list-item {
  display: inline;
  padding-top: 30px;
  list-style: none;
}

//Presentació
.presentation {
  padding-right: 160px;
  padding-left: 50px;
  margin-block: auto;
}

//Botó tornar a l'inici de la pàgina
.button {
  position: fixed;
  right: 30px;
  bottom: 20px;
  z-index: 99;
  display: none;
  height: 32px;
  padding-inline: 10px;
}

//Footer
.footer {
  height: 80px;
  margin-top: 10px;
  font-size: 12px;
  line-height: 80px;
}

/** SKINS **/

//Estils bàsics
.general-style {
  font-family: $font-family-sans-serif;
  text-align: center;
  background-color: $bg;
}

//Fons foscos
.dark-bg {
  color: $light-color;
  background-color: $contrast-color;

  &.black-bg {
    background-color: $dark-bg;
  }
}

//Textos
.text {
  margin-block: 10px;
  font-size: 16px;
  line-height: 24px;

  &.presentation {
    text-align: left;
  }
}

//Estils del links
.link {
  margin: 0 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.link:link,
.link:visited {
  &.contrast-color {
    color: $contrast-color;
  }

  &.dark-bg {
    color: $light-color;
  }
}

//Títol
.h1 {
  font-family: $font-family-serif;
  font-size: 80px;
  font-weight: 500;
  color: $contrast-color;
  text-transform: uppercase;

  @media (max-width: $mqPhone) {
    font-size: 36px;
  }
}

//Fotos galeria
#foto1 { background-image: url('../images/arboles.jpg'); }

#foto2 { background-image: url('../images/aves.jpg'); }

#foto3 { background-image: url('../images/bar.jpg'); }

#foto4 { background-image: url('../images/benvinguts.jpg'); }

#foto5 { background-image: url('../images/calle.jpg'); }

#foto6 { background-image: url('../images/colliure.jpg'); }

#foto7 { background-image: url('../images/curva.jpg'); }

#foto8 { background-image: url('../images/escalera.jpg'); }

#foto9 { background-image: url('../images/estrellas.jpg'); }

#foto10 { background-image: url('../images/mirador.jpg'); }

//Cantonades arrodonides
.rounded { 
  display: flex;
  border-radius: 400px; 
}

//Botó
.button-style {
  font-size: 14px;
  color: $contrast-color;
  cursor: pointer;
  border: 1px solid $contrast-color;
  border-radius: 32px;
  transition: all .2s ease-in-out;
}

//Ampliar elements escalables al fer hover
.scalable:hover { transform: scale(1.2); }