@use "sass:color";

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');

$font-family-sans-serif: 'Roboto', sans-serif;
$font-family-serif: "Georgia", "Times New Roman", serif;

$bg: rgb(255, 255, 255);
$dark-bg: rgb(0,0,0);
$contrast-color: rgb(18, 71, 57);

$mqMinWidth: 200px;
